body, html {
	font-family: Helvetica
}

ul {
	list-style: none;
}


.container {
	margin-top: 1rem;
/* 	border: 1px solid gray;
	border-radius: 4px; */
}


.btnw {
	width: 40%;
	margin: 0 auto;
	margin-right: 10px;
}